<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetUs</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <nav id ="navbar">
        <ul id="navbar-items">
            <li class="navbar-item">
                <a href="{{url_for('index')}}">Accueil</a>
            </li>
                {% if session['user_id'] %}
            <li class="navbar-item dashboard">
                <a href="{{url_for('dashboard')}}">Dashboard</a>
            </li>
            <li class="navbar-item login-logout">
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
            <li class="navbar-item login-logout">
                    <a href="{{ url_for('register') }}">Register</a>
                    <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </li>
        </ul>
    </nav>

    <div id="container">

        {% block content %}{% endblock%}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
             <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
             </ul>
             {% endif %}
        {% endwith %}

    </div>
</body>
</html>